<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Categories - Online Store</title>
</head>
<body>

<th:block th:insert="~{fragments/userHeaderFragments :: userHeader}"></th:block>

<div class="container">

    <h1>Categories</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td th:text="${category.id}"></td>
            <td>
                <a th:text="${category.name}"
                   th:href="@{/products(categoryId=${category.id})}"></a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>