<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title th:text="#{register.title} + ' - Online Store'"></title>
</head>
<body>

<th:block th:insert="~{fragments/guestHeaderFragments :: guestHeader}"></th:block>

<div class="auth-container">

    <h1 th:text="#{register.title}"></h1>

    <p style="text-align: center; margin-bottom: 30px;"
       th:text="#{register.subtitle}">
    </p>

    <span th:if="${msg != null}" class="message" th:text="${msg}"></span>

    <form th:action="@{/register}" method="post" enctype="multipart/form-data">

        <label for="name" th:text="#{register.firstname}"></label>
        <input type="text"
               id="name"
               name="name"
               th:placeholder="#{register.firstname.placeholder}"
               required>

        <label for="surname" th:text="#{register.lastname}"></label>
        <input type="text"
               id="surname"
               name="surname"
               th:placeholder="#{register.lastname.placeholder}"
               required>

        <label for="username" th:text="#{register.username}"></label>
        <input type="text"
               id="username"
               name="username"
               th:placeholder="#{register.username.placeholder}"
               required>

        <label for="password" th:text="#{register.password}"></label>
        <input type="password"
               id="password"
               name="password"
               th:placeholder="#{register.password.placeholder}"
               required>

        <label for="pic" th:text="#{register.picture}"></label>
        <input type="file"
               id="pic"
               name="pic">

        <input type="submit" th:value="#{register.button}">
    </form>

    <p style="text-align: center; margin-top: 20px;">
        <span th:text="#{register.have.account}"></span>
        <a th:href="@{/login}"
           th:text="#{register.login.here}"></a>
    </p>

</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
